<!-- Card -->
<mdb-card class="m-0">
    <!--Card content-->
    <mdb-card-body>
       <!--Title-->
       <mdb-card-title>
          <h4>Search the Catalog</h4>
       </mdb-card-title>
       
       <!--Text-->
       <mdb-card-text>

          <div class="md-form">
              <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="searchString" [value]="searchString">
              <label for="form1" class="">Search Text</label>
            </div>
            
       </mdb-card-text>

       <a mdbBtn color="primary" mdbWavesEffect (click)="onClickSearch()">Search</a>
    </mdb-card-body>
 </mdb-card>

 <!-- Card -->

 <!-- Card -->
 <mdb-card class="m-0 mt-4">
    <!--Card content-->
    <mdb-card-body>
       <!--Title-->
       <mdb-card-title>
          <h4>Sort</h4>
       </mdb-card-title>
       
       <!--Text-->
       <mdb-card-text>

          <div class="list-group">
              <a class="list-group-item list-group-item-action flex-column align-items-start" 
                (click)="onSelectFilter()" style="
                cursor: pointer;
            ">
                    By Ratings
              </a>
            </div>
       </mdb-card-text>
    </mdb-card-body>
 </mdb-card>

 <!-- Card -->

 
 

 <!-- Card -->